{% extends "layout.html" %}
{% block content %}
    {% for course in courses %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{url_for('course', course_id=course.id)}}">
              {{course.name}} 
              {% if course.id in subs %}(subscribed){% endif %}
            </a></h2>
            <p> {{course.description}}</p>
            <p>De Cursus {{course.name}} wordt gegeven door
              {%for x in teachers%}
                {%if x[0] == course.teacher_id%}
                  {{x[1]}}
                {%endif%}
              {%endfor%}
            </p>
            <p>Start elke {{course.weekday}} vanaf {{course.start}} tot {{course.end}} op locatie: {{course.location}}</p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
