{% extends "layout.html" %}
{% block content %}
    {% for course in courses %}
        <article class="media content-section">
          <div class="media-body">
            <h2><a class="article-title" href="{{url_for('course', course_id=course.id)}}">
              {{ course.name }} 
              {{ '(subscribed)' if course.id in subs }}
            </a></h2>
            <p><i>{{ course.description }}</i></p>
            <p>wordt gegeven door {% for teacher in teachers if teacher.id == course.teacher_id %}{{ teacher.username  }},{% endfor %}</p>
            <p>elke {{ ['maandag', 'dinsdag', 'woensdag', 'donderdag', 'vrijdag', 'zaterdag', 'zondag'][course.weekday] }} {{ course.start }} uur t/m {{ course.end }} uur op locatie: <b>{{ course.location }}</b></p>
          </div>
        </article>
    {% endfor %}
{% endblock content %}
